@import url(reset.css);

@import url(sistem_js.css);

/* --------------- Подключения шрифтов ---------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* --------------- Подключения шрифтов ---------*/

/* --------------- Базовые настройки ---------*/

body {
	background: #000;
	color: #838383;
	font-size: 1em; 
	font-family: 'Lato', sans-serif;
}

a, a:visited {
	color: #4bcaff;
	text-decoration: underline;
}
a:hover {
	color: #4bcaff;
	text-decoration:none;
}
a:focus, a:active {
	color: #4bcaff;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}

img{
	max-width:100%;
}

.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

/* --------------- Базовые настройки ---------*/

.wrapper-body{
	overflow: hidden;
	max-width: 1480px;
	margin: 0 auto;
}

.wrapper{
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
}

/* 1 Шапка - начало */

header{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 1;
}
	.header_logo{
		float: left;
		display: block;
		margin: 15px 0 30px 0;
	}

	/* 1.1 Навигация - начало */
	.header_navigation{
		float: right;
		margin: 40px 0 0 0;
	}
		.header_navigation ul{
			overflow: hidden;
			font-weight: 400;
			font-size: 0.8125em;
			text-transform: uppercase;
		}
			.header_navigation ul li{
				float: left;
				margin: 0 0 0 36px;
			}
				.header_navigation ul li a{
					color: #fff;
					text-decoration: none;
					transition: color 0.2s;
				}
				.header_navigation ul li a:hover{
					color: #4bcaff;
				}
		/* Навигация - конец */

/* Шапка - конец */

/* 2 Основной контент - начало */

main{
	overflow: hidden;
}

	/* 2.1 Блок слайдер - начало */
	.my-slider{
		overflow: hidden;
	}

		.my-slider li{
			position: relative;
		}
			.my-slider li img{
				display: block;
			}

				.my-slider_post{
					position: absolute;
					max-width: 670px;
					color: #fff;
					top: 44%;
					left: 44%;
				}
					.my-slider_post h2{
						font-weight: 300;
						font-size: 3em;
						margin: 0 0 20px 0;
					}
						.my-slider_post h2 strong{
							font-weight: 700;
						}
					.my-slider_post p{
						font-weight: 300;
						font-size: 1.110em;
						line-height: 1.3;
						margin: 0 0 35px 0;
					}
					.my-slider_post a{
						display: block;
						width: 190px;
						height: 60px;
						border: 2px solid #fff;
						border-radius: 8px;
						font-weight: 700;
						font-size: 0.9375em;
						line-height: 60px;
						text-align: center;
						text-transform: uppercase;
						text-decoration: none;
						color: #fff;
						transition: color 0.2s, border 0.2s;
					}
					.my-slider_post a:hover{
						border: 2px solid #4bcaff;
						color: #4bcaff;
					}

					.unslider-nav{
						position: relative;
						top: -25px;
						margin-top: -16px;
					}
	/* Блок слайдер - конец */

	/* 2.2 ТТХ - начало */
	.ttx{
		border-top: 4px solid #4bcaff;
		border-bottom: 1px solid #e7e7e7;
		background: #f9f9f9;
	}
		.ttx > .wrapper{
			padding: 45px 0 115px 0;
		}
			.ttx h2{
				font-weight: 900;
				font-size: 2.25em;
				text-transform: lowercase;
				text-align: center;
				margin: 0 0 8px 0;
				color: #414042;
			}
			.ttx strong{
				display: block;
				font-weight: 300;
				font-size: 1.25em;
				text-align: center;
				margin: 0 0 65px 0;
				color: #414042;
			}

			.ttx_list{
				float: left;
				width: 31.62%;
				margin: 0 2.57% 0 0;
				text-align: center;
			}
			.ttx_list:last-of-type{
				margin-right: 0;
			}
				.ttx_list img{
					border: 2px solid #efefef;
					border-radius: 50%;
					margin: 0 0 25px 0;
				}
				.ttx_list h3{
					font-weight: 700;
					font-size: 0.9375em;
					text-transform: uppercase;
					margin: 0 0 25px 0;
				}
					.ttx_list h3 a{
						color: #414042;
						text-decoration: none;
					}
					.ttx_list h3 a:hover{
						text-decoration: underline;
					}
				.ttx_list p{
					font-weight: 400;
					font-size: 0.8125em;
					line-height: 1.6;
					padding: 0 30px;
				}
	/* ТТХ - конец */

	/* 2.3 Галерея - начало */
	.my-gallery{
		background: #fff;
	}
		.my-gallery > .wrapper{
			padding: 45px 0 105px 0;
		}
			.my-gallery h2{
				font-weight: 900;
				font-size: 2.25em;
				text-transform: lowercase;
				text-align: center;
				margin: 0 0 8px 0;
				color: #414042;
			}
			.my-gallery strong{
				display: block;
				font-weight: 300;
				font-size: 1.25em;
				text-align: center;
				margin: 0 0 55px 0;
				color: #414042;				
			}

			.my-gallery_list{
				float: left;
				width: 23%;
				margin: 0 2.6% 0 0;
			}
			.my-gallery_list:last-of-type{
				margin-right: 0;
			}
				.my-gallery_list img{
					display: block;
					margin: 0 0 20px 0;
				}
				.my-gallery_list p{
					font-weight: 400;
					font-size: 0.8125em;
					line-height: 1.6;
					text-align: center;
					padding: 0 24px;
				}
	/* Галерея - конец */

	/* 2.4 Видео - начало */
	.video{
		background: url(../images/videosection.jpg) center top/cover no-repeat;
	}
		.video > .wrapper{
			padding: 160px 0 145px 0;
		}
			.video_click{
				text-align: center;
				max-width: 750px;
				margin: 0 auto;
				color: #fff;
			}
				.video_click img{
					cursor: pointer;
					margin: 0 0 33px 0;
				}
				.video_click h2{
					font-weight: 300;
					font-size: 3em;
					margin: 0 0 15px 0;
				}
					.video_click h2 strong{
						font-weight: 700;
					}
				.video_click p{
					font-size: 1.125em;
					padding: 0 48px;
				}

				.wrepper-video{
					overflow: hidden;
					position: relative;
					height: 0;
					padding-bottom: 60%;
				}
					.wrepper-video iframe{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
		/* Видео - конец */

	/* 2.5 Скачать - начало */
	.download{
		background: #414042;
	}
		.download > .wrapper{
			padding: 30px 0 30px 0;
		}
			.download h2{
				margin: 0 0 25px 0;
				font-weight: 700;
				font-size: 3.4775em;
				text-align: center;
				color: #fff;
			}
			.download a{
				display: block;
				background: #4bcaff;
				border-radius: 8px;
				box-shadow: 0 5px 0 #277697;
				width: 195px;
				height: 60px;
				margin: 0 auto;
				font-size: 0.9375em;
				line-height: 60px;
				text-transform: uppercase;
				text-decoration: none;
				text-align: center;
				color: #414042;
				transition: color 0.2s;
			}
			.download a:hover{
				color: #fff;
			}
	/* Скачать - конец */

	/* 2.6 Контакты - начало */
	.contact{
		position: relative;
		height: 680px;
	}
		.contact iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}

		.contact_form{
			position: absolute;
			z-index: 3;
			width: 320px;
			top: 15%;
			left: 50%;
			margin-left: -160px;
			background: rgba(75,202,255,0.8);
			border: 1px solid rgba(0,0,0,0.2);
			border-radius: 5px;
			box-sizing: border-box;
			box-shadow: 0 2px 10px rgba(0,0,0,0.2);
			padding: 0 26px 20px 26px;
		}
			.contact_form h2{
				font-weight: 700;
				font-size: 2.25em;
				color: #fff;
				text-align: center;
				padding: 25px 0;
			}

			.contact_form input[type="text"], .contact_form input[type="email"], .contact_form textarea{
				width: 100%;
				font: 0.875em Arial;
				color: #ccc;
				text-align: center;
				border: none; 
				border-radius: 3px;
				padding: 10px 10px;
				box-sizing: border-box;
			}

			.contact_form input[type="text"]:focus, .contact_form input[type="email"]:focus, .contact_form textarea:focus{
				text-align: left;
				color: #000;
			}

			.contact_form input[type="text"]{
				margin: 0 0 15px 0;
			}
			.contact_form input[type="email"]{
				margin: 0 0 15px 0;
			}
			.contact_form input[type="submit"]{
				display: block;
				width: 190px;
				height: 45px;	
				margin: 0 auto;
				background: #414042;
				border-radius: 8px;
				box-shadow: 0 5px 0 #313032;
				border: none;
				font-weight: 700;
				font-size: 0.9375em;
				color: rgba(114,179,204,1);
				cursor: pointer;
			}
			.contact_form textarea{
				margin: 0 0 20px 0;
				resize: none;
			}
	/* Контакты - конец */

/* Основной контент - конец */

/* 3 Подвал - начало */
footer{
	background: #414042;
}
	footer > .wrapper{
		padding: 45px 0 45px 0;
	}
	footer p{
		font-size: 0.75em;
		color: rgba(255,255,255,0.25);
	}
/* Подвал - конец */